################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BankLogic/bin/Debug/netstandard2.0
/BankLogic/obj
/BankWinForm/.vs/BankWinForm/v16
/BankWinForm/obj/Debug
/BankWinForm/bin/Debug
/BankWinForm/packages
